.App {
  text-align: center;
}

.App .container {
  margin-top: 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: flex;
}

.card {
  width: 100%;
}

mark {
  padding: 0;
  background-color: #ffd703;
}

.Navbar-logo {
  height: 3rem;
}

.showing-recipes {
  text-align: center;
  margin: 20px 0;
}
.showing-recipes button {
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.recipes-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipes-grid li {
  padding: 10px 15px;
  text-align: left;
}